---
server:
  port: 8003
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8001/eureka/
spring:
  application:
    name: customer
app:
  service-url: http://producers/   #项目中需要调用某个服务的地址
